{% extends "base.html" %}

{% block title %}
Gallerie Estensi
{% endblock %}

{% block content %}
<div align="center">
    <img src="{{ url_for('static', filename='gallerie_estensi.png') }}" width="200" height="100">
</div>
<hr>
<h1>Paintings recognizer</h1>
Powered by Vittorio Pippi, Gianluca Mancusi and Daniele Manicardi<br><br><br>



<div align="left">
    <form action="try_it">
        <img src="{{ url_for('static', filename='000000.jpg') }}" width="330" height="170">
        <input style="margin-left: 20px;" id="btnTryIt" class="btn btn-success" type="submit" value="Compute" />
        <div align="center" id="tryItLoadingIndicator" class="spinner-border text-primary" role="status"
            style="visibility: hidden"></div>
    </form>
    <br>
    <hr>
    <br>
    <h2>Or upload your own image or video</h2>
    <br>
    <form method="post" enctype="multipart/form-data" onsubmit="onSumbit()">
        <input id="image" type="file" name="file" name="Choose a painting">
        <input id="btnSubmit" class="btn btn-primary" type="submit" value="Upload">
        <div align="center" id="loadingIndicator" class="spinner-border text-primary" role="status"
            style="visibility: hidden; margin-left: 8px;">
            <span class="sr-only">Loading...</span>
        </div>
        <br><br>
        <input style="transform: scale(1.5); margin-right: 8px;" type="checkbox" id="chbForceCameraCalibration" name="forceCameraCalibration" value="forceCameraCalibration"/>
        <label for="chbForceCameraCalibration"> Force camera calibration</label>
    </form>
    <br>
    <p><strong>Please note</strong>: the video output will be in <code>uploads\videos\outputs</code></p>
    <br><br><br>
</div>

<script>
    function onSumbit() {
        $("#btnSubmit").hide();
        $("#loadingIndicator").css("visibility", "visible");
    }

    function onTryIt() {
        $("#btnTryIt").hide();
        $("#tryItLoadingIndicator").css("visibility", "visible");
    }
</script>

{% endblock %}